.hello
{
    border: 6px solid rgb(230, 31, 31);
    margin: auto;
    width: 30%;
    height: 250px;
    border-radius: 30px;
    position: relative;
}
body{
    place-items: center;
    display:grid;
    margin: 0;
    height: 100vh;
}
.small
{
    border: 2px solid black ;
    position: absolute;
left: 50%;
top: 50%;
border-radius: 5px;
animation-duration: 10ms;
transition: transform 1s;
}
.small:hover
{
transform: scale(1.1);
background:lightblue;
}
